.box_02 img{
  border-radius: 30%;
}
.box_02 img{
  padding: 0px 5px;
}
main{
  padding: 0px 100px;
}
main{
  font-size: 30px;
}
main{
  line-height: 60px;
}
h1{
  font-size: 50px;
}
h1{
  padding: 0px 80px;
}
html{
  background-color: #CFFFFC;
}